@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif; }

body {
  background-color: #f9f5ea; }

body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera*/ }

ul {
  list-style: none; }

/*헤더*/
header {
  position: sticky;
  box-sizing: border-box;
  z-index: 999;
  top: 0;
  width: 100vw;
  /*헤더 반응형*/ }
  header nav {
    width: 100%;
    background-color: #291c16;
    display: flex;
    align-items: center;
    color: #f9f5ea;
    box-sizing: border-box; }
    header nav .logo {
      padding: 12px 24px; }
      header nav .logo img {
        width: 40px;
        height: 40px; }
    header nav button {
      background-color: #291c16;
      color: #f9f5ea; }
    header nav .navUl {
      margin-left: auto;
      height: 100%;
      display: flex;
      box-sizing: border-box; }
      header nav .navUl li {
        height: 100%;
        vertical-align: middle;
        padding: 23px 12px; }
        header nav .navUl li .menuLine {
          width: 40px;
          height: 3px;
          background-color: #291c16;
          margin: auto; }
        header nav .navUl li .currentMenu {
          background-color: #f9f5ea; }
      header nav .navUl .currentTab {
        background-color: #f9f5ea;
        color: #291c16;
        box-sizing: border-box;
        font-weight: 700; }
    header nav .space {
      width: 50px; }
    header nav .toggleBtn {
      position: absolute;
      top: 22px;
      right: 32px;
      font-size: 24px;
      color: #f9f5ea;
      display: none; }
  @media screen and (max-width: 768px) {
    header nav {
      flex-direction: column;
      padding: 8px 24px;
      align-items: flex-start; }
      header nav .navUl {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%; }
        header nav .navUl li {
          width: 100%;
          text-align: center; }
      header nav .navUl.active {
        display: flex; }
      header nav .toggleBtn {
        display: block; } }

/*본문 시작*/
section {
  padding-top: 77px; }
  section .sectionTitle {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    padding: 50px 0;
    color: #88a4ca; }
    section .sectionTitle .subText {
      font-size: 16px;
      font-weight: 500; }
  section .subBar {
    width: 100px;
    height: 5px;
    background-color: #88a4ca;
    margin: auto; }
  section > div {
    text-align: center; }

/*홈*/
.homeContainer {
  height: 100vh;
  text-align: center;
  color: #291c16;
  font-size: 30px; }
  .homeContainer .logoBox {
    margin-top: 150px; }
    .homeContainer .logoBox img {
      width: 250px;
      height: 300px; }
  .homeContainer .mainTitle {
    font-size: 32px;
    padding-top: 20px; }
  .homeContainer .down {
    animation: motion 0.7s linear 0s infinite alternate;
    margin-top: 100px; }
    .homeContainer .down img {
      width: 50px;
      height: 70px; }

@keyframes motion {
  0% {
    margin-top: 100px; }
  100% {
    margin-top: 115px; } }

/*프로젝트*/
.projectContainer {
  width: 100vw; }
  .projectContainer:before {
    content: '';
    width: 2px;
    height: 100px;
    background: #5c7eac;
    display: block;
    margin: 0 auto; }
  .projectContainer .projectBox {
    width: 80%;
    margin: auto;
    margin-bottom: 100px; }
    .projectContainer .projectBox .pTitle {
      font-size: 24px;
      padding-bottom: 10px;
      color: #eb6366;
      font-weight: 800; }
    .projectContainer .projectBox .sub {
      padding: 20px; }
    .projectContainer .projectBox .p_section {
      /*display: flex;*/ }
      .projectContainer .projectBox .p_section .pImg {
        width: 50%;
        margin: auto; }
        .projectContainer .projectBox .p_section .pImg img {
          width: 100%;
          height: 100%;
          overflow: hidden;
          border: 1px lightgray solid; }
      .projectContainer .projectBox .p_section .infoBox {
        width: 45%;
        margin: auto;
        text-align: left;
        padding-top: 10px; }
        .projectContainer .projectBox .p_section .infoBox .githuburl a {
          text-decoration: none;
          color: #88a4ca; }

/*스킬*/
.skillContainer {
  width: 100vw;
  /*height:100vh;*/ }
  .skillContainer:before {
    content: '';
    width: 2px;
    height: 100px;
    background: #5c7eac;
    display: block;
    margin: 0 auto; }
  .skillContainer .skillWrap {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    justify-content: center; }
    .skillContainer .skillWrap .skillBox {
      width: 120px;
      margin: 50px; }

/*컨택트*/
.contactContainer {
  width: 100vw;
  height: 100vh; }
  .contactContainer:before {
    content: '';
    width: 2px;
    height: 100px;
    background: #5c7eac;
    display: block;
    margin: 0 auto; }
  .contactContainer form {
    width: 500px;
    margin: auto;
    text-align: center; }
    .contactContainer form #submitBtn {
      width: 80px;
      height: 30px;
      margin: 15px 0;
      background-color: #eb6366;
      color: #f9f5ea;
      outline: none;
      border: none; }
  .contactContainer .copyBox {
    width: 100%;
    height: 50px; }
    .contactContainer .copyBox::after {
      content: '';
      margin-bottom: 20px; }
  .contactContainer .mail, .contactContainer .github, .contactContainer .reply_to {
    background-color: #d7edf2;
    border: 1px #5c7eac solid;
    width: 100%;
    height: 30px;
    padding: 20px;
    margin-bottom: 10px;
    outline: none;
    color: #291c16; }
    .contactContainer .mail::placeholder, .contactContainer .github::placeholder, .contactContainer .reply_to::placeholder {
      color: #291c16; }
  .contactContainer .github, .contactContainer .mail {
    border: 1px #eb6366 solid;
    color: #5c7eac; }
  .contactContainer .btn {
    width: 50px;
    height: 30px;
    margin: 15px 0;
    background-color: #d7edf2;
    color: #eb6366;
    font-weight: 700;
    outline: none;
    border: none;
    position: relative;
    top: -62px;
    left: 210px; }
  .contactContainer #textarea {
    background-color: #d7edf2;
    border: 1px #5c7eac solid;
    height: 250px;
    outline: none;
    text-align: left;
    padding: 20px;
    color: #291c16; }

.up {
  text-align: center;
  color: #f9f5ea; }

@media screen and (max-width: 768px) {
  .projectContainer, .skillContainer, .contactContainer {
    padding-top: 300px; }
  .homcontainer {
    padding-top: 100px; }
  .projectContainer .projectBox {
    width: 80%; }
    .projectContainer .projectBox .p_section {
      width: 100%;
      flex-direction: column;
      align-items: flex-start; }
      .projectContainer .projectBox .p_section .pImg {
        width: 100%; }
      .projectContainer .projectBox .p_section .infoBox {
        width: 100%;
        margin: auto;
        word-break: break-all; }
  .contactContainer form {
    width: 100%; }
    .contactContainer form .mail, .contactContainer form .github, .contactContainer form .reply_to {
      width: 90%;
      margin: auto;
      margin-bottom: 10px; }
    .contactContainer form .btn {
      top: -62px;
      left: 35%; }
    .contactContainer form #textarea {
      width: 90%;
      margin: auto; } }
