#root{

    $bgcolor:#f9f5ea !global;
    $lightblue:#d7edf2 !global;
    $blue:#88a4ca !global;
    $darkblue:#5c7eac !global;
    $pink:#eb6366 !global;
    $fontcolor:#291c16 !global;
    $aroundpadding: 12px 24px !global;
    $sidepadding: 12px !global;
    $title:24px !global;
    $font:16px !global;
    $f-family:'Noto Sans KR', sans-serif !global;
    $section-top:77px;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: $f-family;
}
body{
    background-color: $bgcolor;
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

ul{
    list-style: none;
}

/*헤더*/
header{
    position:sticky;
    box-sizing: border-box;
    top:0;
    width:100vw;
    nav{
        width:100%;

        background-color: $fontcolor;
        display:flex;
        align-items: center;
        color:$bgcolor;
        box-sizing: border-box;
        .logo{
            padding:$aroundpadding;
            img{
                width: 40px;
                height:40px;
            }

        }

        button{
            background-color: $fontcolor;
            color:$bgcolor;
        }
    
        .navUl{
            margin-left:auto;
            height: 100%;
            display:flex;
            box-sizing: border-box;
            
            li{
                height: 100%;
                vertical-align: middle;
                padding: 23px $sidepadding;              
                .menuLine{
                    width:40px;
                    height:3px;
                    background-color: $fontcolor;
                    margin:auto;
                }
                .currentMenu{
                    background-color: $bgcolor;
                }
            }
            .currentTab{
                background-color: $bgcolor;
                color:$fontcolor;
                box-sizing: border-box;
                font-weight: 700;
            }
        }
        .space{
            width:50px
        }
        .toggleBtn{
            position:absolute;
            top:22px;
            right:32px;
            font-size:$title;
            color:$bgcolor;
            display: none;
        }
    }
    /*헤더 반응형*/
    @media screen and (max-width:768px){
        nav{
            flex-direction: column;
            padding:8px 24px;
            align-items: flex-start;

            .navUl{
                display: none;
                flex-direction: column;
                align-items: center;
                width:100%;
                
                li{
                    width:100%;
                    text-align: center;
                }
            }
            .navUl.active{
                display:flex;
            }
            .toggleBtn{
                display: block;
            }
        }
    }
}


/*본문 시작*/
section{
    padding-top:77px;
    .sectionTitle{
        font-size:36px;
        font-weight:600;
        letter-spacing: 1px;
        text-align: center;
        padding:50px 0;
        color: $blue;
    }
    .subBar{
        width:100px;
        height:5px;
        background-color: $blue;
        margin:auto;
    }

    &>div{
      text-align: center;  
    }
    
}
    /*홈*/
    .homeContainer{
        height:100vh;
       text-align: center;
       color:$fontcolor;
       font-size:30px;
       .logoBox{
           margin-top: 150px;
           img{
               width:250px;
               height: 300px;
           }
       }
       .mainTitle{
           font-size: $font*2;
           padding-top:20px;
       }
       .down{
           animation: motion 0.7s linear 0s infinite alternate;
           margin-top: 100px;
           img{
               width:50px;
               height:70px;
           }
       }
       @keyframes motion {
           0% {margin-top: 100px;}
           100% {margin-top: 115px;}
       }
   }
   
   /*프로젝트*/
   .projectContainer{
    &:before {
        content: '';
        width: 2px;
        height: 100px;
        background: $darkblue;
        display: block;
        margin: 0 auto;
      }
       width:100vw;
       .projectBox{
           width:80%;
           margin:auto;
           margin-bottom:50px;
           .pImg{
               width:50%;
               margin: auto;
               img{
                   width:100%;
                   height: 100%;
                   overflow:hidden;
               }
           }
           .pInfo{
               width:50%;
               padding:$aroundpadding
           }
           a{
               color:$fontcolor;
           }
       
           .pTitle{
               font-size: $title;
               
           }
       
           .sub{
               padding:20px;
           }
       }     
   }
   
   /*스킬*/
   .skillContainer{    
       width:100vw;
       /*height:100vh;*/
       &:before {
        content: '';
        width: 2px;
        height: 100px;
        background: $darkblue;
        display: block;
        margin: 0 auto;
      }
   
       .skillWrap{
           display: flex;
           flex-wrap: wrap;
           width:60%;
           margin: auto;
           justify-content:center;
           .skillBox{    
               width:100px;
               margin:50px;
          }
       }

   }

/*컨택트*/
.contactContainer{
    width:100vw;
    height:100vh;
    &:before {
        content: '';
        width: 2px;
        height: 100px;
        background: $darkblue;
        display: block;
        margin: 0 auto;
      }

      form{
        width:500px;
        margin:auto;
        text-align: center;

        #submitBtn{
            width:80px;
            height:30px;
            margin: 15px 0;
            background-color: $pink;
            color: $bgcolor;
            outline: none;
            border: none;
        }
      }
      .copyBox{
        width: 100%;
        height: 50px;
        &::after{
            content:'';
            margin-bottom: 20px;
        }
      }
    .mail,.github,.reply_to{
        background-color: $lightblue;
        border: 1px $darkblue solid;
        width: 100%;
        height: 30px;
        padding:20px;
        margin-bottom: 10px;
        outline: none;
        color: $fontcolor;
        &::placeholder{
            color:$fontcolor;
        }
    }

    .github, .mail{
        border: 1px $pink solid;
        color:$darkblue;
    }
    .btn{
        width:50px;
        height:30px;
        margin: 15px 0;
        background-color: $lightblue;
        color: $pink;
        font-weight: 700;
        outline: none;
        border: none;
        position:relative;
        top: -62px;
        left:210px

    }

    #textarea{
        background-color: $lightblue;
        border: 1px $darkblue solid;
        height: 250px;
        outline: none;
        text-align: left;
        padding:20px;
        color:$fontcolor;
        
    }
   
}
.up{
    text-align: center; 
    color:$bgcolor;
}


@media screen and (max-width:768px){
    .projectContainer, .skillContainer, .contactContainer{
        padding-top:300px;
    }
    .homcontainer{
        padding-top:100px;
    }
    
    
}

