#root{

    $bgcolor:#f9f5ea !global;
    $lightblue:#d7edf2 !global;
    $blue:#88a4ca !global;
    $darkblue:#5c7eac !global;
    $pink:#eb6366 !global;
    $fontcolor:#291c16 !global;
    $aroundpadding: 12px 24px !global;
    $sidepadding: 12px !global;
    $title:24px !global;
    $font:16px !global;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background-color: $bgcolor;
}
ul{
    list-style: none;
}

/*헤더*/
header{
    position:sticky;
    top:0;
    width:100vw;
    nav{
        width:100%;
        
        background-color: $fontcolor;
        display:flex;
        align-items: center;
        padding:$aroundpadding;
        color:$bgcolor;
        .logo{
            img{
                width: 40px;
                height:40px;
            }

        }

        button{
            background-color: $fontcolor;
            color:$bgcolor;
        }
    
        .navUl{
            margin-left:auto;
            display:flex;
    
            li{
                padding: 0 $sidepadding;
                &:hover{
                    background-color: $fontcolor;
                    color:$bgcolor;
                    /*border-bottom: 3px $fontcolor solid;*/
                }
            }
        }
        .toggleBtn{
            position:absolute;
            right:32px;
            font-size:$title;
            color:$bgcolor;
            display: none;
        }
    }
    
}
/*헤더 반응형*/
@media screen and (max-width:768px){
    nav{
        flex-direction: column;
        padding:8px 24px;
        align-items: flex-start;

        .navUl{
            display: none;
            flex-direction: column;
            align-items: center;
            width:100%;
            
            li{
                width:100%;
                text-align: center;
            }
        }
        .navUl.active{
            display:flex;
        }
        .toggleBtn{
            display: block;
        }
    }
}


/* 홈 */
section{
    .sectionTitle{
        font-size:36px;
        font-weight:600;
        letter-spacing: 1px;
        text-align: center;
        padding:50px 0;
        color: $blue;
    }

    &>div{
      text-align: center;  
    }
}

.HomeContainer{
     height:100vh;
    text-align: center;
    color:$fontcolor;
    font-size:30px;
    .logoBox{
        margin-top: 150px;
        img{
            width:250px;
            height: 300px;
        }
    }

    .down{
        animation: motion 0.7s linear 0s infinite alternate;
        margin-top: 100px;
        img{
            width:50px;
            height:70px;
        }
    }
    @keyframes motion {
        0% {margin-top: 100px;}
        100% {margin-top: 115px;}
    }
}

/*프로젝트*/
.projectContainer{

    .projectBox{
        width:80%;
        margin:auto;
        margin-bottom:50px;
        .pImg{
            width:50%;
            margin: auto;
            img{
                width:100%;
                height: 100%;
                overflow:hidden;
            }
        }
        .pInfo{
            width:50%;
            padding:$aroundpadding
        }
        a{
            color:$fontcolor;
        }
    
        .pTitle{
            font-size: $title;
            
        }
    
        .sub{
            padding:20px;
        }
    }
    
}
