.skillContainer{
    $bgcolor:#f9f5ea !global;
    $lightblue:#d7edf2 !global;
    $blue:#88a4ca !global;
    $darkblue:#5c7eac !global;
    $pink:#eb6366 !global;
    $fontcolor:#291c16 !global;
    $aroundpadding: 12px 24px !global;
    $sidepadding: 12px !global;
    $title:24px !global;
    $font:16px !global;
    width:100vw;
    height:100vh;

    .skillWrap{
        display: flex;
        flex-wrap: wrap;
        .skillBox{    
            width:150px;
            padding:20px;
            margin:auto;
            img{
                width:100%;
                margin: auto;
            }
        
        }
    }
    

}
