body{   
    $bgcolor:#f9f5ea !global;
    $lightblue:#d7edf2 !global;
    $blue:#88a4ca !global;
    $darkblue:#5c7eac !global;
    $pink:#eb6366 !global;
    $fontcolor:#291c16 !global;
    $aroundpadding: 12px 24px !global;
    $sidepadding: 12px !global;
    $title:24px !global;
    $font:16px !global;

    font-family: 'Noto Sans KR', sans-serif;
    margin:0;
    padding:0;
    background-color:$bgcolor;
    width:100%;
}

*{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{  
    text-decoration: none; 
    color:$bgcolor; 
}

button{
    border: none;       
}

article{
    width:100vw;
    position:absolute;
    top:77px;
}

section{
    width:100%;
}
