
.HomeContainer{
    $bgcolor:#f9f5ea !global;
    $lightblue:#d7edf2 !global;
    $blue:#88a4ca !global;
    $darkblue:#5c7eac !global;
    $pink:#eb6366 !global;
    $fontcolor:#291c16 !global;
    $aroundpadding: 12px 24px !global;
    $sidepadding: 12px !global;
    $title:24px !global;
    $font:16px !global;

    height:100vh;
    text-align: center;
    color:$fontcolor;
    font-size:30px;
    .logoBox{
        margin-top: 150px;
        img{
            width:250px;
            height: 300px;
        }
    }

    .down{
        animation: motion 0.7s linear 0s infinite alternate;
        margin-top: 100px;
        img{
            width:50px;
            height:70px;
        }
    }
    @keyframes motion {
        0% {margin-top: 100px;}
        100% {margin-top: 115px;}
    }
}